@import '../App.css';

.input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;
    box-sizing: border-box;
    background-color: var(--component);
    border-radius: 1rem;
    color: var(--text);
    padding: 10px;
}

.input h2 {
    margin: 0;
}

.input textarea {
    width: 100%;
    box-sizing: border-box;
    min-height: 400px;
    background-color: var(--innerComponent);
    border-radius: 0.5rem;
    color: var(--text);
    border: none;
    resize: none;
}

.input textarea:focus {
    outline: 2px solid var(--outline);
}